[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-decouple = "*"
"django-anymail[mailgun]" = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
django-jazzmin = "*"
africastalking = "*"

[dev-packages]

[requires]
python_version = "3.12"
