<footer class="bg-white border-t">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <div class="md:flex md:items-center md:justify-between">
            <div class="flex justify-center space-x-6 md:order-2">
                <a href="#" class="text-gray-400 hover:text-gray-500">Contact Us</a>
                <span class="text-gray-300">|</span>
                <a href="#" class="text-gray-400 hover:text-gray-500">Privacy Policy</a>
                <span class="text-gray-300">|</span>
                <a href="#" class="text-gray-400 hover:text-gray-500">FAQ</a>
            </div>
            <div class="mt-8 md:mt-0 md:order-1">
                <p class="text-center text-base text-gray-400">&copy; 2025 SafeIMEI Nigeria. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>